.input {
      width: 69%;
      background-color: transparent;
      border: 0;
      color: #fff;
      font-size: 2em;
      font-weight: 300;
      vertical-align: middle;

      &:focus{
          border: none;
          outline: none;
      }
}

.btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 36px;
    text-align: center;
    transition: all .4s ease-out;
    text-transform: uppercase;
    font-weight: 700;
    padding: 21px 0;
    width: 150px;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &::active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
}

.btn-submit {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    vertical-align: middle;
}