.logo {
    width: 400px;
    position: relative;
    z-index: 9;
    margin: 0 auto;
    will-change: transform, opacity;
    transform: translate(0, calc(50vh - 37.8px));
    fill: white;
}

.moved {
    transition: .8s transform ease-out, .8s opacity ease-out;
    will-change: transform, opacity;
    transform: translate(42vw, 23px);

    @media (max-width: 1700px) {
        transform: translate(41vw, 23px); 
    }
    @media (max-width: 1600px) {
        transform: translate(40vw, 23px);
    }
    @media (max-width: 1400px) {
        transform: translate(38vw, 23px);
    }
    @media (max-width: 1200px) {
        transform: translate(37vw, 23px); 
    }
    @media (max-width: 1100px) {
        transform: translate(36vw, 23px); 
    }
    @media (max-width: 1000px) {
        transform: translate(35vw, 23px); 
    }
    @media (max-width: 900px) {
        transform: translate(32vw, 23px); 
    }
    @media (max-width: 800px) {
        transform: translate(-15vw, 10px);
        width: 80%; 
    }
    @media (max-width: 500px) {
        transform: translate(-19vw, 10px); 
    }

    .fundacaoText {
        transition: 1s all ease-out;
        opacity: 0;
    }

    svg {
        transform: scale(0.6); 
    }

    @media screen and (max-width: 500px) {
        svg {
        transform: scale(0.8); } 
    }
}