.avatar {
    max-width: 58px;
    height: 58px;
    border: 1px solid transparent;
    border-radius: 100px;
    overflow: hidden;
    float: left; 

    @media screen and (max-width: 800px) {
        display: none; 
    }

    img {
    max-width: 100%; 
    }
}

.speach-bubble {
    position: relative;
    background: #ffffff;
    border-radius: .4rem;
    &.from-bot {
        left: .5rem;
        &:after {
            left: 0;
            top: -1.5rem;
            border-right-color: #fff;
            border-left: 0;
        }
    }
    &.from-user {
        background: #F50088;
        color: white;
        right: -.5rem;
        &:after {
            top: -1.5rem;
            right: 0;
            border-left-color: #F50088;
            border-right: 0;
        }
    }
}
.speach-bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent;
}

.bubble--text {
    background-color: #ffffff;
    margin-left: 21px;
    padding: 21px;
    border: 1px solid transparent;
    border-radius: 21px;
    color: black;
    font-size: .8em;
    line-height: 1.5em;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 500px;
    &.from-user {
        background: #F50088;
        color:#ffffff;
    }
}